.App {
  text-align: center;
  margin-top: 50px;
}

label {
  margin-right: 10px;
}

input[type="number"] {
  width: 50px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

h2 {
  margin-top: 20px;
}

p {
  font-size: 20px;
  font-weight: bold;
}
